.graph-container {
    margin-top: 20px; /* Example: Adjust margin-top as needed */
    margin-bottom: 20px; /* Example: Adjust margin-bottom as needed */
    text-align: center; /* Example: Center the graph horizontally */
    margin-left: 15%;
}

