/* static/login_style.css */

/* Center-align the login form */
body.selected-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the login form container */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Center-align and style the login form title */
h1 {
    color: #1F4834;
    text-align: center;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

/* Style form input fields */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Apply the button style to the login button */
input[type="submit"] {
    background-color: #1F4834;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #14402d;
}

/* Style the flash messages (alerts) */
.alert {
    background-color: #e44d26;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

