/* Add styles to the table */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.button {
    background-color: #1F4834; /* Dark Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #14402d; /* Darker shade on hover */
}

/* Set a uniform background color for the entire pages */
body {
    background-color:  #f0f0f0; /* Orange */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Center-align and style the titles (h1 elements) */
h1 {
    color: #1F4834; /* Set the color to the same dark green you used for buttons */
    text-align: center; /* Center-align the text */
    padding-top: 20px; /* Add some top padding for spacing */
}

/* Center-align the body content of selected pages */
.selected-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: #FFA500; /* Orange */
}

.active {
    background-color:  #f0f0f0;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Apply spacing between form fields in all forms */
form input,
form label {
    margin-bottom: 10px;
}

/* Position the "Logout" link at the top right corner */
.logout-link {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it appears above other elements if necessary */
}

