{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Management System</title>

    <!-- Your custom CSS for admin_nav and admin_style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_nav_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_style.css') }}">
</head>
<body>
    <div class="admin-container">
        <div class="sidebar">
            <h1>Admin Dashboard</h1>
            <h2>Welcome {{ user_email }}</h2>
      
            <!-- Include the standalone admin_nav.html -->
            {% include 'admin_nav.html' %}
        </div>

        <div class="dashboard-section">
            <!-- Dashboard Widgets -->
            <div class="dashboard-widget">
                <h3>User Counts</h3>
                <p>Counts of users based on their roles:</p>
                <ul>
                    <li>User Count: {{ user_counts.user_count }}</li>
                    <li>Admin Count: {{ user_counts.admin_count }}</li>
                    <li>Approver Count: {{ user_counts.approver_count }}</li>
                </ul>
            </div>

            <div class="dashboard-widget">
                <h3>Pending Items</h3>
                <p>Items awaiting approval</p>
                <h2>{{ pending_items_count }}</h2>
            </div>

            <div class="dashboard-widget">
                <h3>Stock</h3>
                <p>Total value of the Stock</p>
                <p>{{ total_cost }} RWF</p>
            </div>

            <div class="dashboard-widget">
                <h3>Damaged Items</h3>
                <p>Total Damaged Items</p>
                <p>{{ damaged_items }}</p>
            </div>
	    <div class="dashboard-widget">
	    <h3>Added Items</h3>
	    <p>100 Items Added in 7 days.</p>
	    </div>
	    <div class="dashboard-widget">
            <h3>checkout Items</h3>
            <p>100 Items checked out in 7 days.</p>
            </div>

        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>

