<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graphs.css') }}">
    <title>Checkout Summary</title>
</head>
<body class="selected-body">
	{% include 'sidebar.html' %}

	<h1>Daily Checkout Summary</h1>
<table>
    <tr>
        <th>Checkout Date</th>
        <th>Item Name</th>
        <th>Total Quantity</th>
    </tr>
    {% for checkout_date, checkouts in checkouts_by_date.items() %}
    {% set rowspan = checkouts|length %}
    {% for checkout in checkouts %}
    <tr>
        {% if loop.first %}
        <td rowspan="{{ rowspan }}">{{ checkout_date }}</td>
        {% endif %}
        <td>{{ checkout.item_name }}</td>
        <td>{{ checkout.total_quantity }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

    <h1>Weekly Checkout Summary</h1>
    <table>
        <tr>
            <th>Week Period</th>
            <th>Item Name</th>
            <th>Total Quantity</th>
        </tr>
        {% for week_period, checkouts in checkouts_by_week.items() %}
        {% set rowspan = checkouts|length %}
        {% for checkout in checkouts %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ rowspan }}">{{ week_period }}</td>
            {% endif %}
            <td>{{ checkout.item_name }}</td>
            <td>{{ checkout.total_quantity }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table><br><br>

    <h1>Monthly Checkout Summary</h1>
    <table>
        <tr>
		<th>Month Period</th>
            <th>Item Name</th>
            <th>Total Quantity</th>
        </tr>
        {% for month_period, checkouts in checkouts_by_month.items() %}
        {% set rowspan = checkouts|length %}
        {% for checkout in checkouts %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ rowspan }}">{{ month_period }}</td>
            {% endif %}
            <td>{{ checkout.item_name }}</td>
            <td>{{ checkout.total_quantity }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>

    {% if session.role == 'admin' %}
        <a href="/admin">Back to Admin Dashboard</a>
    {% elif session.role == 'user' %}
        <a href="/home">Back to User Dashboard</a>
    {% elif session.role == 'approver' %}
        <a href="/approver">Back to Dashboard</a>
    {% else %}
        <a href="/">Back to Home</a>
    {% endif %}

</body>
</html>
