<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graphs.css') }}">
    <title>Consumption Summary</title>
    <script>
        function showTable(tableId) {
            // Hide all tables
            var tables = document.querySelectorAll('.summary-table');
            tables.forEach(function(table) {
                table.style.display = 'none';
            });

            // Show the selected table
            var selectedTable = document.getElementById(tableId);
            selectedTable.style.display = 'table';
        }
    </script>
  </head>
<body class="selected-body">
	{% include 'sidebar.html' %}

	<h1>Consumption Summary</h1>

    	<select onchange="showTable(this.value)" style="color: red; margin-left: 20%;">
    		<option value="daily-summary">Daily Consumptions</option>
    		<option value="weekly-summary">Weekly Consumptions</option>
    		<option value="monthly-summary">Monthly Concemptions</option>
	</select>


    <div id="daily-summary" class="summary-table">
	<h1>Daily Consumption Summary</h1>
	<table>
    <tr>
        <th>Checkout Date</th>
        <th>Item Name</th>
        <th>Total Quantity Consumed</th>
    </tr>
    {% for checkout_date, checkouts in checkouts_by_date.items() %}
    {% set rowspan = checkouts|length %}
    {% for checkout in checkouts %}
    <tr>
        {% if loop.first %}
        <td rowspan="{{ rowspan }}">{{ checkout_date }}</td>
        {% endif %}
        <td>{{ checkout.item_name }}</td>
        <td>{{ checkout.total_quantity }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
	</table>
    </div>

	<div id="weekly-summary" class="summary-table" style="display: none;">
    <h1>Weekly Consumption Summary</h1>
    <table>
        <tr>
            <th>Week Period</th>
            <th>Item Name</th>
            <th>Total Quantity Consumed</th>
        </tr>
        {% for week_period, checkouts in checkouts_by_week.items() %}
        {% set rowspan = checkouts|length %}
        {% for checkout in checkouts %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ rowspan }}">{{ week_period }}</td>
            {% endif %}
            <td>{{ checkout.item_name }}</td>
            <td>{{ checkout.total_quantity }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table><br><br>
	</div>

	<div id="monthly-summary" class="summary-table" style="display: none;">
    <h1>Monthly Consumption Summary</h1>
    <table>
        <tr>
		<th>Month Period</th>
            <th>Item Name</th>
            <th>Total Quantity Consumed</th>
        </tr>
        {% for month_period, checkouts in checkouts_by_month.items() %}
        {% set rowspan = checkouts|length %}
        {% for checkout in checkouts %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ rowspan }}">{{ month_period }}</td>
            {% endif %}
            <td>{{ checkout.item_name }}</td>
            <td>{{ checkout.total_quantity }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
	</div>
</body>
</html>
