<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Items added weekly</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
	 {% include 'sidebar.html' %}

    <h1>Items Expiring in 7 Days</h1>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Added by</th>
                <th>Description</th>
                <th>Purchase Date</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% if expiring_items %}
                {% for item in expiring_items %}
                    <tr>
                        <td>{{ item['item_name'] }}</td>
                        <td>{{ item['price'] }} {{ item['currency'] }}</td>
                        <td>{{ item['category'] }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>{{ item['created_at'] }}</td>
                        <td>{{ item['status'] }}</td>
                        <td>{{ db.get_user_name_by_id(item['maker_id']) }}</td>
                        <td>{{ item['description'] }}</td>
                        <td>{{ item['purchase_date'] }}</td>
                        <td>{{ item['expiration_date'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">No items found within the selected date range.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</body>
</html>

