<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer1.css') }}">
</head>
<body>

    <div id="footer-container">
        <div id="contact-info">
            <h3>Contact Us</h3>
            <p>Email: info@chanceninternational.org</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div id="social-media">
            <h3>Follow Us</h3>
            <!-- Add social media icons and links here, if applicable -->
            <a href="#" target="_blank" title="Follow us on Facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="#" target="_blank" title="Follow us on Twitter"><i class="fab fa-twitter-square"></i></a>
            <a href="#" target="_blank" title="Follow us on Instagram"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div id="copyright">
            <p>&copy; 2023 Chancen International. All rights reserved.</p>
        </div>
    </div>

</body>
</html>
