<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chancen International</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header1.css') }}">

</head>
<body>

    <div id="header-container">
        <div id="logo">
            <img src="{{ url_for('static', filename='chancen.png') }}" alt="Chancen International Logo">
        </div>
        <div id="branding">
            <h1>Chancen International</h1>
            <p>Empowering Education Through Loans</p>
	</div>

</body>
</html>

