<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>{{ user_role.upper() }} Dashboard | Keyframe Effects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
		<span> <img src="/static/img/chancen.png" alt="Logo" class="logo"></span>
        </div>
        
        <div class="side-content">
            <div class="profile">
		    <div class="profile-img bg-img" style="background-image: url({{ extracted_path }})"></div>
		{% if user_name is not none %}
                <h4> {{ user_name.upper() }}</h4>
		{% else %}
		<h4> {{ user_name }} </h4>
		{% endif %}
		<small>{{ user_department.upper() }} {{ user_role.upper() }}</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                       <a href="{{ url_for('update_profile_picture.update_profile_picture') }}">
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                       <a href="/items">
                            <span class="las la-list"></span>
                            <small>View Items</small>
                        </a>
                    </li>
                    <li>
                       <a href="/pending_items">
                            <span class="las la-clock"></span>
                            <small>Pending items</small>
                        </a>
                    </li>
                    <li>
                       <a href="/add_item">
                            <span class="las la-plus-circle"></span>
                            <small>Add Item</small>
                        </a>
			
                    </li>
                    <li>
                       <a href="/admin/view_users">
                            <span class="las la-users"></span>
			    <small>View users</small>
                        </a>
		    </li>
		    <li>
			    <a href="/register">
				    <span class="las la-user-plus"></span>
				    <small>Register Users</small>
			    </a>
		    </li>
		    <li>
			    <a href="{{ url_for('add_item_category.add_item_category') }}">
				    <span class="las la-archive"></span>
				    <small>Add Item category</small>
			    </a>
		    </li>
		    
		    <li> 
			    <a href="/update_email">
				    <span class="las la-envelope"></span>
				    <small>Update Email</small>
			    </a>
		    </li>
		    <li>
			    <a href="update_password">
				    <span class="las la-key"></span>
				    <small>Change Password</small>
			    </a>
		    </li>
		    <li>
                              <a href="{{ url_for('add_user_department.add_user_department') }}">
                                     <span class="las la-key"></span>
                                     <small>Add User Department</small>
                             </a>
                      </li>
		      <li>
                              <a href="{{ url_for('add_user_role.add_user_role') }}">
                                     <span class="las la-key"></span>
                                     <small>Add User Role</small>
                             </a>
                      </li>



		    <li>
			    <a href="{{ url_for('backup.backup') }}">
				    <span class="las la-database"></span>
				    <small>Database Backup</small>
			    </a>
		    </li>

                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>
                
                <div class="header-menu">
                    <label for="">
                        <span class="las la-search"></span>
                    </label>
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                    
                    <div class="user">
                        <div class="bg-img" style="background-image: url(static/static/img/1.jpeg)"></div>
                        <a href="/logout">
				<span class="las la-power-off"></span>
				<span>Logout</span>
			</a>
                    </div>
                </div>
            </div>
        </header>
        
        
        <main>
            
            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>
            
            <div class="page-content">
            
                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ user_counts.user_count + user_counts.admin_count + user_counts.approver_count }}</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>Current users</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ pending_items_count }}</h2>
                            <span class="las la-hourglass-half"></span>
                        </div>
                        <div class="card-progress">
                            <small>Added Items awaiting approval</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ total_cost }} RWF</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Current Stock value</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>{{ checkout_count }}</h2>
                            <span class="las la-ellipsis-h"></span>
                        </div>
                        <div class="card-progress">
				{% if checkout_count == 1 %}
				<small>Pending Checkout</small>
				{% else %}
                            <small>Pending Checkouts</small>
			    {% endif %}
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
        
                    </div>
		   
                </div>
		<div class="card">
                        <div class="card-head">
                          <img src="data:image/png;base64,{{ plot_url }}" alt="User Stats Chart">
			  <img src="data:image/png;base64,{{ category_url }}" alt="User Stats Chart">
			  <img src="data:image/png;base64,{{ plot_url }}" alt="User Stats Chart">
			 



                        </div>




                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <span>Entries</span>
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <button>Pending Checkouts</button>
                        </div>

                        <div class="browse">
                           <input type="search" placeholder="Search" class="record-search">
                            <select name="" id="">
                                <option value="">Status</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>CHECKOUT ID</th>
                                    <th><span class="las la-sort"></span> INITIOTOR</th>
                                    <th><span class="las la-sort"></span> ITEM NAME</th>
                                    <th><span class="las la-sort"></span>CREATED DATE </th>
                                    <th><span class="las la-sort"></span> QUANTITY</th>
                                    <th><span class="las la-sort"></span> ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
				    {% for item in pending_checkout %}
                                <tr>
                                    <td>#{{ item.checkout_id }}</td>
                                    <td>
                                        <div class="client">
                                           <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                            <div class="client-info">
                                                <h4>{{ initiator }}</h4>
						<small>{{ item.user_email }}</small>
                                            </div>
                                        </div>
                                    </td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.created_at.strftime('%d %B, %Y') }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <div class="actions">
                            <span class="lab la-telegram-plane"></span>
                            <span class="las la-eye"></span>
                            <span class="las la-ellipsis-v"></span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>
</body>
</html>
