<!DOCTYPE html>
<html>
<head>
    <title>All Stock Items</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
	{% include 'sidebar.html' %}
    <h1>All Stock Items</h1>

    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
		<th>Description</th>
                <th>Date Created</th>
                <th>Total cost</th>
                <!-- <th>Actions</th>  <!-- Added Actions column -->
		-->
            </tr>
        </thead>
        <tbody>
            {% for item in stock_items %}
            <tr>
                <td>{{ item.item_name }}</td>
		<td>{{ item.price }} {{ item.currency }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.quantity }}</td>
		<td>{{ item.description }}</td>
                <td>{{ item.created_at }}</td>
		<td>{{ item.total_cost }} {{ item.currency }}</td>
                <!-- <td>
                    <form action="{{ url_for('checkout') }}" method="post">
                        <input type="hidden" name="item_name" value="{{ item.item_name }}">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" required>
                        <button type="submit">Checkout</button>
                    </form>
                </td>
		-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
