<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Pending Items</title>
</head>
<body>
    <h1>Pending Items</h1>

    {% if pending_items %}
    <table border="1">
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Currency</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Total Cost</th>
            <th>Actions</th>  <!-- Added Actions column -->
        </tr>
        {% for item in pending_items %}
        <tr>
            <td>{{ item['item_name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['category'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{ item['currency'] }}</td>
            <td>{{ item['created_at'] }}</td>
            <td>{{ item['status'] }}</td>
            <td>{{ item['quantity'] * item['price'] }}</td>
            <td>
                <form action="{{ url_for('change_status', id=item['id']) }}" method="post">
		    <input type="hidden" name="id" value="{{ item['id'] }}">
                    <select name="status">
                        <option value="approved">Approve</option>
                        <option value="rejected">Reject</option>
                    </select>
                    <button type="submit">Update</button>
                </form>
	
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No pending items.</p>
    {% endif %}

    {% if session.role == 'admin' %}
        <a href="/admin">Back to Admin Dashboard</a>
    {% elif session.role == 'user' %}
        <a href="/home">Back to User Dashboard</a>
    {% elif session.role == 'approver' %}
        <a href="/approver">Back to Dashboard</a>
    {% else %}
        <a href="/">Back to Home</a>
    {% endif %}

</body>
</html>
