<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
     <meta http-equiv="refresh" content="4;url=/register">
    
</head>
<body>
    <h1>User Registartion Confirmation</h1>
    <p>You have successfully registered the user.
    <li> name: {{ name }} </li>
    <li> email: {{ email }} </li>
    <li> Role: {{ role }} </li>
    <li> Department: {{ department }} </li>

    </p><br>
    <p>You are now being redirected back to registration page.</p>
    <p><a href="/admin">Back to DashBoard</a></p><br>
   </body>
</html>
