<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Items by Date</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_styles.css') }}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
	{% include 'sidebar.html' %}
    <h1>Search Items by Date</h1>
<form action="/search_items_by_date" method="post" class="date-search-form">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" required>
    <br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" required>
    <br>
    <button type="submit">Search</button>
</form>


<h2 class="custom-heading">Added Items from {{ start_date }} to {{ end_date }}</h2>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Created At</th>
                <th>Currency</th>
                <th>Status</th>
                <th>Maker ID</th>
                <th>Description</th>
                <th>Purchase Date</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% if added_items %}
                {% for item in added_items %}
                    <tr>
                        <td>{{ item['item_name'] }}</td>
                        <td>{{ item['price'] }}</td>
                        <td>{{ item['category'] }}</td>
                        <td>{{ item['quantity'] }}</td>
                        <td>{{ item['created_at'] }}</td>
                        <td>{{ item['currency'] }}</td>
                        <td>{{ item['status'] }}</td>
                        <td>{{ item['maker_id'] }}</td>
                        <td>{{ item['description'] }}</td>
                        <td>{{ item['purchase_date'] }}</td>
                        <td>{{ item['expiration_date'] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">No items found within the selected date range.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</body>
</html>

