/* static/change_password_style.css */

/* Center-align the form */
body {
    display: flex;
    flex-direction: column; /* Display children (form and link) in a column */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set a light gray background color */
}

/* Style the form container */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Set the width to cover half the page */
    margin-bottom: 20px; /* Add margin at the bottom of the form */
}

/* Center-align and style the form title */
h1 {
    color: #1F4834;
    text-align: center;
    margin-top: 0; /* Remove default margin for h1 */
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
    width: 150px; /* Set a fixed width for labels */
}

/* Style form input fields */
input[type="password"] {
    width: calc(100% - 12px); /* Calculate width, considering padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Apply the button style to the form button */
input[type="submit"] {
    background-color: #1F4834;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%; /* Make the button span the full width */
}

input[type="submit"]:hover {
    background-color: #14402d;
}

/* Style the error message */
p.error {
    color: #e44d26; /* Dark orange color for error messages */
    margin-bottom: 15px;
}

/* Style the back to dashboard link */
a {
    color: #1F4834;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /* Center-align the link */
}

a:hover {
    text-decoration: underline;
}
