<!DOCTYPE html>
<html>
<head>
    <title>Stock Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

   <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    -->
</head>
<body>
	<h1>Admin Dashboard</h1>
	<h2>Welcome {{ user_email}}</h2>
    

    <div class="logout-link">
	    <p>{{ user_email }}</p>
    <a href="/logout">Logout</a>
    </div>


  

    <h2>OPTIONS:</h2>
    <ul>
        <li><a href="/items">Display Items</a></li>
	<li><a href="/search">Search Item</a></li>
	<li><a href="/pending_items">PENDING ITEMS</a></li>
	<li><a href='/register'>Register users</a></li>
	<li><a href="/add_item">Checkin Items</a></li
	<li><a href="/update_password">Change password</a></li>
        <li><a href="/update_email">Change Email</a></li>
>
    </ul>
</body>
</html>
