<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="selected-body">
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
	<label for="department">Department:</label>
        <select id="department" name="department">
		<option value="kitchen">Kitchen</option>
		<option value="it">IT</option>
		<option value="hr">People and Culture</option>
		<option value="finance">Finance</option>
		<option value="communication">Communication</option>
		<option value="administration">Administration</option>
		<option value="repayment">Repayment</option>
		<option value="application">Application</option>
		<option value="pei">PEI</option>
		<option value="ceo">CEO Office</option>
	</select><br><br>
	<label for="role">Role:</label>
        <select id="role" name="role">
		<option value="user">User</option>
		<option value="admin">Admin</option>
	</select><br><br>




        <input type="submit"class="button" value="Register">
    </form>

    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
